/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(../img/121.jpg);
  
  
}


#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 50;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

.profile {
  display: flex;
  margin-left: 900px;
  align-items: center;
}

.profile span {
  color: rgb(0, 0, 0);
  margin-right: 10px;
}

.profile .dropdown {
  position: relative;
}

.profile img.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.profile:hover .dropdown-content {
  display: block;
}

.language{
    margin-left: 15px;
    height: 25px;
    background-color: #a5f6ffd0;
    border-radius: 5px;
}
.main{
    
    height: 100%;
    width: 100%;
    background: #4070f400;
    margin-top: 70px;
    
}
 .row h1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
 }


 .sp{
  margin-left: 10px;
}

.text{
font-weight: bolder;
}

 main{
  width: 100%;
  height: 700px;
  background-color: #ffffff;
  /*background: red;*/
  position: relative;
  padding: 5px 0;
  
}
 main .text{
  padding: 10px;
  text-align: center;
  /*font-size: 30px;*/
  color: #554;
}
 main .text h1{
  font-size: 50px;
  
}
.detail .pack small{
  font-size: 15px;
}
.pack{
  margin-top: 100px;
}
 main .text p{
  width: 60%;
  padding: 5px;
  margin: auto;
  line-height: 30px;
}

 main header h1{
  color: black;
  font-size: 30px;
}
 main header{
  width: 98%;
  font-family: 'Times New Roman';
  font-weight: bolder;
  height: 60px;
  margin: 0 auto;
  /*background: gray;*/
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}
 main header p span{
  font-size: 40px;
    margin: 0 5px;
    cursor: pointer;
    color: #555;
     width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 19px;
    text-align: center;
    border-radius: 3px;
}
 main header p span:hover{
  background: #222;
    color: white;
}
.section6{
  width: 98%;
  height: 600px;
  /*background: red;*/
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.section6::-webkit-scrollbar{
  display: none;
}
.section6 .product{
  min-width: 24%;
  height: 90%;
  background: whitesmoke;
  margin:  0 20px  0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;

}

 main picture{
  width: 100%;
  height: 70%;
  padding: 20px;
  /*background: green;*/
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}
 main picture img{
  width: 100%;
}
.detail,
 main .button7{
  width: 90%;
  /*background: red;*/
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: #444;
}
 main small{color: #555;}
 main .a1{
  text-decoration: none;
  padding: 6px 14px;
  width: 120px;
    font-size: 15px;
    margin: 5px 0 0 20px;
    
    display: inline-block;
    background: #6773ff;
    color: rgb(0, 0, 0);
}
 main p.star{
  margin: 5px auto;
    width: 65%;
    font-size: 25px;
    color: #808080;
}
@media (max-width: 768px) {
  .text h1{
    font-size: 35px;
  }
  .main6 .text p{
    width: 90%;
  }
  header h1{
    font-size: 25px;
  }
  header p span{
    font-size: 30px;
  }
  .section6 .product {
    min-width: 49%;
    margin:  0 10px  0 0;
  }
  .detail, .button{
    font-size: 16px;
  }
  a{
    padding: 6px 10px;
  }

  .container main{
   position: relative;
   display: contents;
  }
  .container main .carousel{
   
    margin-top: 300px;
   }
}




